@inherits NavigationBase

@namespace app.Components

<nav class="w-screen md:w-full flex justify-center secondary-background-color overflow-hidden py-1">
    <ul class="flex md:flex-col flex-row-reverse justify-evenly gap-y-5 w-full px-1">
        <li>
            <NavLink href="" Match="NavLinkMatch.All"
                     class="flex items-center gap-x-4 justify-center md:justify-normal w-[20vw] md:w-12">
                <img src="@SelectIcon("animes")" width="48" height="auto" class="@IconPosition flex" />
                <span class="@Display">Browse</span>
            </NavLink>
        </li>
        @if (UserStateService!.IsLoggedIn())
        {
            <li>
                <NavLink href="/schedule" Match="NavLinkMatch.All"
                         class="flex items-center gap-x-4 justify-center md:justify-normal w-[20vw] md:w-12">
                    <img src="@SelectIcon("schedule")" width="48" height="auto" class="@IconPosition" />
                    <span class="@Display">Schedule</span>
                </NavLink>
            </li>
        }
        <li>
            @if (UserStateService!.IsLoggedIn())
            {
                <NavLink href="/profile" Match="NavLinkMatch.All"
                         class="flex items-center gap-x-4 justify-center md:justify-normal w-[20vw] md:w-12">
                    <img src="@SelectIcon("account")" width="48" height="auto" class="@IconPosition" />
                    <span class="@Display">Profile</span>
                </NavLink>
            }
            else
            {
                <NavLink href="/account" Match="NavLinkMatch.All"
                         class="flex items-center gap-x-4 justify-center md:justify-normal w-[20vw] md:w-12">
                    <img src="@SelectIcon("account")" width="48" height="auto" class="@IconPosition" />
                    <span class="@Display text-nowrap">Sign in</span>
                </NavLink>
            }
        </li>
        @if (UserStateService!.IsLoggedIn() && UserStateService!.IsModerator())
        {
            <li>
                <NavLink href="/management" Match="NavLinkMatch.All"
                         class="flex items-center gap-x-4 justify-center md:justify-normal w-[20vw] md:w-12">
                    <img src="@SelectIcon("management")" width="48" height="auto" class="@IconPosition" />
                    <span class="@Display">Management</span>
                </NavLink>
            </li>
        }
    </ul>
</nav>