@inherits PaginationBase

@namespace app.Components.Shared

@if (Pagination is not null)
{
    <div class="flex items-center w-fit my-5 mx-auto h-10">
        <button
            class="secondary-background-color rounded-l-4xl ms-auto px-3 h-[inherit] hover:brightness-95 active:brightness-90 w-fit cursor-pointer"
            title="Previous Page" disabled="@(!_canGoPrevious)" @onclick="GoToPreviousPage">
            <img src="@SelectIcon("arrow-left")" width="25" height="auto" alt="Arrow Left Icon" />
        </button>

        @if (Pagination.has_next_page)
        {
            <span
                class="flex items-center text-xl px-4 h-[inherit] tertiary-background-color">@Pagination.current_page
                of ?
            </span>
        }
        else
        {
            <span
                class="flex items-center text-xl px-4 h-[inherit] tertiary-background-color">@Pagination.current_page
                of @Pagination.last_visible_page
            </span>
        }
        <button
            class="secondary-background-color rounded-r-4xl ms-auto px-3 h-[inherit] hover:brightness-95 active:brightness-90 w-fit cursor-pointer"
            title="Next Page" disabled="@(!_canGoNext)" @onclick="GoToNextPage">
            <img src="@SelectIcon("arrow-right")" width="25" height="auto" alt="Arrow Right Icon" />
        </button>
    </div>
}